

block content
    include mixins/EventForm
    include layout
div.Main
    +EventForm(event, `/edit/${event.id}`, 'Edit Event')

//-
    block content
        include mixins/EventForm
        +EventForm(Event, `/edit/${Event.id}`, 'edit', 'Edit Event')
        div.form-panel
            div.header  Edit Event
                form(action=`/edit/${Event.id}` method='post')
                    div.form-input
                        label(for='name') Name:
                        input(type='text' id='name' name='name' value=Event.name)
                    div.form-input
                        label(for='zipcode') zipcode
                        select(id='zipcode' name='zipcode=' autocomplete='off')
                            each zipcode in zipcodes
                                option(value=zipcode selected = (zipcode ===Event.zipcode)) #{zipcode}
                    div.form-input
                        label(for='description') Description:
                        textarea(id='description' name='description') #{Event.description}
                    div.button-row
                        a.button.cancel(href='/') Cancel
                        a.button.delete(href=`/delete/${Event.id}`) Delete
                        button.button.save(type='submit') Submit



